{% extends "base.html" %}

{% block content %}
    <h1>Contact Me</h1>
    <p>
        Contact Details:
    </p>
    <ul>
        <li>
            <span class="material-symbols-outlined">call</span>
            +972532793819
        </li>

        <li>
            <span class="material-symbols-outlined">mail</span>
            mosheyaku@gmail.com
        </li>

        <li>
            <span class="material-symbols-outlined">location_on</span>
            110 Eliyahu Saadon Street, Or Yehuda
            Israel
        </li>
    </ul>
{% endblock %}


