{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'resume/about.css' %}">
<link rel="stylesheet" href="{% static 'resume/education.css' %}">
  <link rel="stylesheet" href="{% static 'resume/skills.css' %}">
  <link rel="stylesheet" href="{% static 'resume/projects.css' %}">
  <link rel="stylesheet" href="{% static 'resume/contact.css' %}">
{% endblock %}

{% block about %}
  {% include "resume/about.html" %}
{% endblock %}

{% block education %}
  {% include "resume/education.html" %}
{% endblock %}


{% block skills %}
    {% include "resume/skills.html" %}
{% endblock %}

{% block projects %}
    {% include "resume/projects.html" %}
{% endblock %}

{% block contact %}
    {% include "resume/contact.html" %}
{% endblock %}

