{% extends "base.html" %}

{% block content %}
    <h1>About Me</h1>
    <p>
        I am a computer science student characterized by a friendly and collaborative nature, complemented by strong<br>
        leadership qualities. Meticulous attention to detail is ingrained in my approach, ensuring precision in
        every<br>
        task. With a positive demeanor, I contribute to a harmonious team atmosphere.<br><br>

        I am driven by an innate eagerness to expand my knowledge, constantly seeking opportunities for learning.<br>
        My ability to quickly and effectively grasp new concepts reflects my adaptability and readiness to navigate<br>
        evolving challenges. As a computer science enthusiast, I am committed to personal and academic growth,
        bringing<br>
        a dynamic and innovative perspective to collaborative environments.<br>
    </p>

    <h1>Languages</h1>
    <ul>
        <li>
            Hebrew-Native
        </li>
        <li>
            English-Fluent
        </li>
    </ul>


    <h1>Education</h1>
    <p>
        Computer science student (B.Sc.) at the Open University | May 21 - present
    </p>

    <h3>
        Main courses:
    </h3>

    <h4>
        <u>C Language Laboratory</u>
    </h4>
    <p>
        In the C language course, I delved into diverse topics, encompassing:
    </p>

    <ol>
        <li>
            Basic Understanding of C Language and Programming Principles:
            <ul>
                <li>
                    Learned and applied universal programming principles in C, including simplification, proper use of
                    data structures, building code with simple building blocks, library usage, writing library
                    functions, documentation, modularization, information hiding, and writing machine-independent code.
                </li>
            </ul>
        </li>

        <li>
            Familiarity with Unix Operating System Structure:
            <ul>
                <li>
                    Explored the connection between C and the Unix operating system.
                </li>
                <li>
                    Gained a foundational understanding of Unix, managed above Linux, and its relevance to C.
                </li>
                <li>
                    Practical exercises ensured familiarity with system calls and reaching a level of proficiency as a
                    knowledgeable user of the system.
                </li>
            </ul>
        </li>
    </ol>

    <h4>
        <u>
            Advanced Programming In The Java Language
        </u>
    </h4>

    <p>
        In the advanced Java programming course, I covered various topics that included:
    </p>
    <ol>
        <li>
            Object-Oriented Programming (OOP):
            Explored advanced OOP concepts for solution design.
        </li>

        <li>
            Graphical User Interface (GUI) Development:
            Created interactive GUIs using JavaFX.
        </li>

        <li>
            Multithreading:
            Implemented multithreading for concurrent program execution.
        </li>

        <li>
            Generics and Collections:
            Utilized generics and Java collections for flexible and efficient code.
        </li>

        <li>
            Communication and Client-Server Systems:
            Explored client-server architecture and network communication.
        </li>
    </ol>
    <p>
        The course enhanced my skills in advanced Java programming, including OOP, GUI development,
        multithreading, generics, and client-server systems.
    </p>


    <h4>
        <u>
            Data Structures
        </u>
    </h4>

    <p>
        In the Data Structures course, I extensively covered the following topics:
    </p>
    <ol>
        <li>
            Function Growth:
            Explored the growth of functions and their efficiency in different scenarios.
        </li>

        <li>
            Recurrence Relations:
            Studied and applied recurrence relations to analyze algorithms and functions.
        </li>

        <li>
            Proofs of Correctness:
            Developed skills in providing formal proofs for the correctness of algorithms and data structures.
        </li>

        <li>
            Sorting Algorithms:
            Explored various sorting algorithms and their implementation.
        </li>

        <li>
            Finding the ith Smallest Element:
            Learned techniques for efficiently finding the ith smallest element in a collection.
        </li>

        <li>
            Heap Operations and Applications:
            Explored heap data structures, including their implementation and practical applications.
        </li>

        <li>
            Basic Data Structures:
            Covered fundamental data structures, understanding their properties and use cases.
        </li>

        <li>
            Hash Functions:
            Studied hash functions and their role in data structures.
        </li>

        <li>
            Binary Search Trees:
            Explored binary search trees and their applications in searching and sorting.
        </li>

        <li>
            Red-Black Trees:
            Investigated the properties and applications of red-black trees in maintaining balanced binary search trees.
        </li>

        <li>
            Data Structure Extensions:
            Explored advanced concepts and extensions in data structures for more complex problem-solving.
        </li>
    </ol>
    <p>
        The course provided a comprehensive understanding of various data structures, algorithms, and their
        applications in solving real-world problems.
    </p>

    {#        continue from here:#}
    {#        Algorithms, Linux, Operating Systems,Defensive Programming, etc.#}

{% endblock %}


