{% extends "base.html" %}

{% block content %}
    <h1>My Projects</h1>
    <h3>Assembler In C</h3>
    <p>
         Developed an assembler as part of the "C Language Laboratory" course, customized for a 32-base imaginary
        "computer language."<br>
        The assembler is intricately designed to operate seamlessly within the Ubuntu Linux environment.<br><br>

        Key Features:<br>

        Course Project: Executed as part of the "C Language Laboratory" curriculum.<br>
        Customized Assembler: Developed an assembler tailored for a 32-base imaginary "computer language."<br>
        Linux Compatibility: Ensured the assembler operates seamlessly within the Ubuntu Linux environment.<br><br>

        This project serves as a testament to my proficiency in C programming, expertise in language processing, and
        adeptness in ensuring system compatibility.
    </p>
    <h3>
        Blog Using Django
    </h3>
    <p>
        Developed a blog using the Django framework, implementing a combination of Python, HTML, and CSS.<br>
        This comprehensive project incorporates various Django features, including models, forms, databases, sessions, and
        more.<br><br>

        Key Features:<br>
        Django Framework: Utilized the powerful Django web framework for efficient development.<br>
        Python, HTML, CSS: Employed a combination of these languages to create a dynamic and visually appealing blog.<br>
        Models and Forms: Implemented Django models and forms for efficient data management and user interactions.<br>
        Database Integration: Utilized databases for storing and retrieving blog-related data.<br>
        Session Management: Implemented sessions for user authentication and personalized experiences.<br><br>

        This project highlights my proficiency in web development using Django, showcasing skills in Python, HTML, CSS,
        and the effective utilization of various Django features for building a fully functional and interactive blog.
    </p>
    <h3>
        Pirate Adventures Game In Java
    </h3>
    <p>
        Pirate Adventures is a project that emulates the well-known game "Super Mario".<br>
        The project is implemented using the Swing graphical user interface in Java.<br>
        It incorporates threading, animations, keyboard control, and adheres to the principles
        of inheritance and additional elements in the code structure.<br><br>

        Key Features:<br>
        Graphical User Interface: Developed using the Swing library in Java, providing an interactive and visually
        appealing user interface.<br>
        Threading: Implemented the use of a thread to enhance performance and handle concurrent processes efficiently.<br>
        Animations: Integrated animated elements within the project to create a dynamic and engaging user experience.<br>
        Keyboard Control: Utilized keyboard input for user control, allowing players to navigate through the game using
        designated keys.<br>
        Inheritance Principle: Applied the principle of inheritance in the code structure, promoting code reusability
        and a well-organized class hierarchy.<br>
        File Hierarchy: Organized project files in a structured manner, ensuring a clear and logical arrangement of
        components.<br><br>

        This project showcases my proficiency in Java programming, graphical user interface design using Swing, as well<br>
        as my ability to implement advanced features such as using threads, animations, and effective user control.<br>
        The adherence to coding principles like inheritance and a well-organized file hierarchy demonstrates my commitment<br>
        to writing clean and maintainable code.
    </p>

    <h3>
        Personal Portfolio Website
    </h3>
    <p>
        I have developed a personal portfolio website that showcases my professional background and experiences. <br>
        The website is built using the Django framework in Python and incorporates a blend of Python, CSS, HTML,<br>
        and JavaScript. This project serves as a convenient platform for presenting my curriculum vitae.<br><br>

        Key Features:<br>
        Django Framework: Leveraged the power of the Django web framework to streamline the development process and
        enhance the website's functionality.<br>
        Multilanguage Support: Implemented the use of Python, CSS, HTML, and JavaScript to create a dynamic and
        responsive user interface.<br>
        User-Friendly Design: Placed a strong emphasis on the aesthetic aspects of the website, focusing on an intuitive
        and visually appealing design to enhance user experience.<br>
        Curriculum Vitae Presentation: Structured the website to present my curriculum vitae in a clear and accessible
        manner, allowing visitors to gain insights into my professional journey.<br>
        Interactive Elements: Integrated JavaScript to introduce interactive elements that engage visitors and provide a
        dynamic browsing experience.<br><br>

        This project not only demonstrates my proficiency in web development using the Django framework but also
        showcases my attention to design aesthetics, ensuring a visually pleasing and user-friendly presentation of my
        curriculum vitae.
    </p>
{% endblock %}


