<!--<h1>My Projects</h1>-->
<!--<h3>Assembler In C</h3>-->
<!--<p>-->
<!--    Developed an assembler as part of the "C Language Laboratory" course, customized for a 32-base imaginary-->
<!--    "computer language".<br>-->
<!--    The assembler is intricately designed to operate seamlessly within the Ubuntu Linux environment.<br><br>-->

<!--    <u>Key Features:</u><br>-->

<!--<ol>-->
<!--    <li>-->
<!--        Course Project:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Executed as part of the "C Language Laboratory" curriculum.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->


<!--    <li>-->
<!--        Customized Assembler:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Developed an assembler tailored for a 32-base imaginary "computer language".-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->


<!--    <li>-->
<!--        Linux Compatibility:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Ensured the assembler operates seamlessly within the Ubuntu Linux environment-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->
<!--</ol>-->

<!--This project serves as a testament to my proficiency in C programming, expertise in language processing, and-->
<!--adeptness in ensuring system compatibility.-->

<!--<h3>-->
<!--    Blog Using Django-->
<!--</h3>-->
<!--<p>-->
<!--    Developed a blog using the Django framework, implementing a combination of Python, HTML, and CSS.<br>-->
<!--    This comprehensive project incorporates various Django features, including models, forms, databases, sessions,-->
<!--    and more.<br><br>-->

<!--    <u>Key Features:</u><br>-->

<!--<ol>-->
<!--    <li>-->
<!--        Django Framework:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Utilized the powerful Django web framework for efficient development.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        Python, HTML, CSS:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Employed a combination of these languages to create a dynamic and visually appealing blog.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        Models and Forms:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Implemented Django models and forms for efficient data management and user interactions.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        Database Integration:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Utilized databases for storing and retrieving blog-related data.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->


<!--    <li>-->
<!--        Session Management:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Implemented sessions for user authentication and personalized experiences.<br>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--</ol>-->
<!--This project highlights my proficiency in web development using Django, showcasing skills in Python, HTML, CSS,-->
<!--and the effective utilization of various Django features for building a fully functional and interactive blog.-->
<!--</p>-->

<!--<h3>-->
<!--    Pirate Adventures Game In Java-->
<!--</h3>-->
<!--<p>-->
<!--    Pirate Adventures is a project that emulates the well-known game "Super Mario".<br>-->
<!--    The project is implemented using the Swing graphical user interface in Java.<br>-->
<!--    It incorporates threading, animations, keyboard control, and adheres to the principles-->
<!--    of inheritance and additional elements in the code structure.<br><br>-->

<!--    <u>Key Features:</u><br>-->

<!--<ol>-->
<!--    <li>-->
<!--        Graphical User Interface:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Developed using the Swing library in Java, providing an interactive and visually-->
<!--                appealing user interface.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        <ul>-->
<!--            Threading:-->
<!--            <li>-->
<!--                Implemented the use of a thread to enhance performance and handle concurrent processes-->
<!--                efficiently.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        Animations:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Integrated animated elements within the project to create a dynamic and engaging user-->
<!--                experience.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        Keyboard Control:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Utilized keyboard input for user control, allowing players to navigate through the game-->
<!--                using designated keys.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        Inheritance Principle:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Applied the principle of inheritance in the code structure, promoting code-->
<!--                reusability and a well-organized class hierarchy.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        File Hierarchy:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Organized project files in a structured manner, ensuring a clear and logical arrangement of-->
<!--                components.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->
<!--</ol>-->

<!--This project showcases my proficiency in Java programming, graphical user interface design using Swing, as-->
<!--well as my ability to implement advanced features such as using threads, animations, and effective user control.<br>-->
<!--The adherence to coding principles like inheritance and a well-organized file hierarchy demonstrates my-->
<!--commitment to writing clean and maintainable code.<br>-->
<!--</p>-->

<!--<h3>-->
<!--    Personal Portfolio Website-->
<!--</h3>-->
<!--<p>-->
<!--    I have developed a personal portfolio website that showcases my professional background and experiences. <br>-->
<!--    The website is built using the Django framework in Python and incorporates a blend of Python, CSS, HTML, and-->
<!--    JavaScript.<br>-->
<!--    This project serves as a convenient platform for presenting my curriculum vitae.<br><br>-->

<!--    <u>Key Features:</u><br>-->

<!--<ol>-->
<!--    <li>-->
<!--        Django Framework:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Leveraged the power of the Django web framework to streamline the development process and-->
<!--                enhance the website's functionality.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        Multilanguage Support:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Implemented the use of Python, CSS, HTML, and JavaScript to create a dynamic and-->
<!--                responsive user interface.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        User-Friendly Design:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Placed a strong emphasis on the aesthetic aspects of the website, focusing on an-->
<!--                intuitive and visually appealing design to enhance user experience.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        Curriculum Vitae Presentation:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Structured the website to present my curriculum vitae in a clear and-->
<!--                accessible manner, allowing visitors to gain insights into my professional journey.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->

<!--    <li>-->
<!--        Interactive Elements:-->
<!--        <ul>-->
<!--            <li>-->
<!--                Integrated JavaScript to introduce interactive elements that engage visitors and-->
<!--                provide a dynamic browsing experience.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->
<!--</ol>-->

<!--<p>-->
<!--    This project not only demonstrates my proficiency in web development using the Django framework but also-->
<!--    showcases my attention to design aesthetics, ensuring a visually pleasing and user-friendly presentation of my-->
<!--    curriculum vitae.-->
<!--</p>-->


<h2>Projects</h2>
<ul class="projects-list">
    {% for project in projects %}
    <li>
        <strong>{{ project.title }}</strong><br/>
        <p>{{ project.description }}</p>
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">View Project</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
