    <h1>My Skills</h1>


    <h4>
        <u>Java</u>
    </h4>

    <ol>
        <li>
            Object-Oriented Programming (OOP):
            <ul>
                <li>
                    Proficient in Object-Oriented applications, including inheritance and polymorphism.
                </li>
            </ul>
        </li>

        <li>
            Graphical User Interface (GUI) Development:
            <ul>
                <li>
                    Skilled in developing graphical user interface applications using JavaFX and Swing, enabling the
                    creation of intuitive user experiences.
                </li>
            </ul>
        </li>

        <li>
            Utilization of Threads:
            <ul>
                <li>
                    Experienced in implementing multi-threaded applications to enhance performance and responsiveness.
                </li>
            </ul>
        </li>

        <li>
            Generic Programming and Collections:
            <ul>
                <li>
                    Proficient in generic programming techniques and utilizing collections to optimize code efficiency
                    and maintainability.
                </li>
            </ul>
        </li>


        <li>
            Exception Handling:
            <ul>
                <li>
                    Competent in handling exceptional scenarios gracefully, ensuring robustness and reliability of
                    applications.
                </li>
            </ul>
        </li>


        <li>
            File Handling and Input/Output Streams:
            <ul>
                <li>
                    Experienced in working with files and managing input/output streams to facilitate data storage and
                    retrieval processes.
                </li>
            </ul>
        </li>

        <li>
            Client-Server Communication and Systems:
            <ul>
                <li>
                    Familiar with communication protocols and proficient in developing client-server applications,
                    ensuring seamless interaction between systems.
                </li>
            </ul>
        </li>
    </ol>



    <h4>
        <u>Python</u>
    </h4>

    <ol>
        <li>
            Data Structures and Models:
            <ul>
                <li>
                    Proficient in utilizing various data structures such as lists, dictionaries, tuples, and sets to
                    organize and manipulate data effectively.
                </li>
            </ul>
        </li>

        <li>
            File Handling:
            <ul>
                <li>
                    Experienced in reading from and writing to files, employing file handling techniques to manage data
                    storage and retrieval operations efficiently.
                </li>
            </ul>
        </li>

        <li>
            Errors and Exceptions:
            <ul>
                <li>
                    Skilled in handling errors and exceptions gracefully, utilizing try-except blocks and other
                    exception handling mechanisms to ensure robustness and reliability of Python applications.
                </li>
            </ul>
        </li>

        <li>
            Object-Oriented Programming (OOP):
            <ul>
                <li>
                    Competent in implementing object-oriented principles in Python, including encapsulation,
                    inheritance, and polymorphism, to design and develop modular and reusable code.
                </li>
            </ul>
        </li>

        <li>
            Multithreading:
            <ul>
                <li>
                    Proficient in leveraging multithreading to execute multiple tasks concurrently, enhancing the
                    performance and responsiveness of Python applications.
                </li>
            </ul>
        </li>


        <li>
            Client-Server Communication:
            <ul>
                <li>
                    Experienced in building client-server applications in Python, utilizing libraries such as socket
                    to facilitate communication and data exchange between clients and servers.
                </li>
            </ul>
        </li>
    </ol>




    <h4>
        <u>C++</u>
    </h4>

    <ol>
        <li>
            Object-Oriented Programming (OOP)- including Inheritance and Polymorphism:
            <ul>
                <li>
                    Proficient in applying object-oriented principles in C++, including inheritance to create
                    hierarchical class structures and polymorphism to enable dynamic method binding and runtime
                    flexibility.
                </li>
            </ul>
        </li>

        <li>
            Errors and Exceptions:
            <ul>
                <li>
                    Skilled in handling errors and exceptions in C++, utilizing try-catch blocks and other exception
                    handling mechanisms to ensure robustness and reliability of code.
                </li>
            </ul>
        </li>

        <li>
            File Handling:
            <ul>
                <li>
                    Experienced in working with files in C++, proficient in opening, reading from, writing to, and
                    closing files using file stream objects and file manipulation functions.
                </li>
            </ul>
        </li>

        <li>
            Multithreading:
            <ul>
                <li>
                    Competent in utilizing multithreading in C++ to execute multiple threads concurrently, leveraging
                    features like std::thread and synchronization primitives to manage shared resources and ensure
                    thread safety.
                </li>
            </ul>
        </li>


        <li>
            Client-Server Communication:
            <ul>
                <li>
                    Knowledgeable in building client-server applications in C++, utilizing libraries such as Boost.Asio
                    or the standard sockets library to establish network connections, handle data transmission, and
                    implement server-client communication protocols.
                </li>
            </ul>
        </li>
    </ol>




    <h4>
        <u>C</u>
    </h4>

    <ol>
        <li>
            Modular Code Organization:
            <ul>
                <li>
                    Proficient in dividing code into separate files to enhance modularity, readability, and
                    maintainability of C programs.
                </li>
            </ul>
        </li>

        <li>
            Data Structures:
            <ul>
                <li>
                    Experienced in implementing and utilizing various data structures such as arrays, linked lists,
                    stacks, queues, trees, and hash tables to efficiently store and manipulate data.
                </li>
            </ul>
        </li>

        <li>
            Pointers:
            <ul>
                <li>
                    Skilled in working with pointers to access memory locations directly, enabling dynamic memory
                    allocation, efficient data manipulation, and complex data structures in C programs.
                </li>
            </ul>
        </li>

        <li>
            Bit Manipulation:
            <ul>
                <li>
                    Knowledgeable in bitwise operations, including AND, OR, XOR, shifting, and masking, to manipulate
                    individual bits within variables and perform low-level optimizations in C programs.
                </li>
            </ul>
        </li>


        <li>
            File Input/Output:
            <ul>
                <li>
                    Proficient in reading from and writing to files in C, utilizing file handling functions such as
                    fopen, fclose, fread, and fwrite to manage file operations and handle data persistence.
                </li>
            </ul>
        </li>

        <li>
            Makefile Usage:
            <ul>
                <li>
                    Competent in creating and using Makefiles to automate the compilation and linking process of C
                    programs, specifying dependencies and build rules to streamline software development workflows.
                </li>
            </ul>
        </li>
    </ol>



    <h4>
        <u>Linux</u>
    </h4>

    <ol>
        <li>
            Ubuntu Proficiency:
            <ul>
                <li>
                    Proficient in utilizing Ubuntu as a primary operating system, demonstrating familiarity with its
                    user interface, package management system, and software ecosystem.
                </li>
            </ul>
        </li>

        <li>
            Command Line:
            <ul>
                <li>
                    Advanced knowledge and proficiency in using the command line interface (CLI) in Linux, including
                    navigating the file system, managing files and directories, executing commands, and performing
                    system administration tasks efficiently.
                </li>
            </ul>
        </li>

        <li>
            Understanding of Operating Systems:
            <ul>
                <li>
                    Solid understanding of how operating systems function, gained through coursework in operating
                    systems during your degree program, including concepts such as process management, memory
                    management, file systems, and system calls.
                </li>
            </ul>
        </li>
    </ol>


    <h4>
        <u>SQL</u>
    </h4>

    <ol>
        <li>
            SQL Proficiency:
            <ul>
                <li>
                    Experienced in Structured Query Language (SQL), proficient in writing and executing SQL queries to
                    retrieve, manipulate, and manage data stored in relational databases.
                </li>
            </ul>
        </li>

        <li>
            Database Management:
            <ul>
                <li>
                    Skilled in database management tasks, including creating and modifying database schemas, defining
                    tables, specifying data types and constraints, and optimizing database performance through indexing
                    and query optimization techniques.
                </li>
            </ul>
        </li>

        <li>
            Data Manipulation:
            <ul>
                <li>
                    Proficient in performing data manipulation operations using SQL, such as inserting, updating,
                    deleting, and querying data to extract meaningful insights and support business requirements.
                </li>
            </ul>
        </li>

        <li>
            Query Optimization:
            <ul>
                <li>
                    Knowledgeable in optimizing SQL queries for improved performance and efficiency, employing
                    techniques such as query restructuring, indexing strategies, and database normalization principles.
                </li>
            </ul>
        </li>
    </ol>


    <h4>
        <u>Django</u>
    </h4>

    <ol>
        <li>
            URL Routing and Views:
            <ul>
                <li>
                    Proficient in configuring URL patterns and associating them with views to handle incoming requests
                    effectively, ensuring proper navigation and functionality within Django applications.
                </li>
            </ul>
        </li>

        <li>
            Templates & Static Files:
            <ul>
                <li>
                    Skilled in designing and implementing HTML templates using Django's templating engine to create
                    dynamic and responsive user interfaces. Additionally, adept at managing static files such as CSS,
                    JavaScript, and images to enhance the presentation layer of web applications.
                </li>
            </ul>
        </li>

        <li>
            Data & Models:
            <ul>
                <li>
                    Experienced in defining data models using Django's ORM, including creating database schemas,
                    relationships, and constraints. Capable of implementing complex data structures to represent
                    application data accurately and efficiently.
                </li>
            </ul>
        </li>

        <li>
            Admin Panel:
            <ul>
                <li>
                    Knowledgeable in utilizing Django's built-in admin interface to perform administrative tasks such as
                    managing database records, user authentication, and content management efficiently.
                </li>
            </ul>
        </li>


        <li>
            Forms:
            <ul>
                <li>
                    Proficient in creating and handling HTML forms in Django, including form validation, data
                    processing, and rendering. Skilled in utilizing Django's form handling features to streamline user
                    input and data submission processes.
                </li>
            </ul>
        </li>


        <li>
            Class Views:
            <ul>
                <li>
                    Experienced in using class-based views (CBVs) in Django to organize and manage view logic
                    efficiently, promoting code reuse and maintainability across different parts of the application.
                </li>
            </ul>
        </li>


        <li>
            File Uploads:
            <ul>
                <li>
                    Adept at implementing file upload functionality in Django applications, including handling file
                    uploads securely, validating file types and sizes, and managing file storage and retrieval.
                </li>
            </ul>
        </li>


        <li>
            Sessions:
            <ul>
                <li>
                    Skilled in managing user sessions in Django, including session authentication, data storage, and
                    session-based user tracking. Proficient in utilizing Django's session framework to implement
                    user-specific functionality and personalization.
                </li>
            </ul>
        </li>
    </ol>



