body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.page-view {
    display: flex;
    width: 80%;
    max-width: 800px;
    height: 80vh;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.navigation-bar {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}


.image-container {
    width: 30%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.icon {
  font-size: 32px;
  color: rgb(183, 170, 29);
}


