<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
    <title>
        {% block title %}

        {% endblock %}
    </title>
    {% block css_files %}

    {% endblock %}
</head>
<body>

{% block content %}
    <nav>
        <ul>
            <li>
                <i class="far fa-file-alt" style="font-size: 32px; color: rgb(183, 170, 29)"></i>
                <a href="#"></a>
            </li>

            <li>
                <i class="far fa-file-alt" style="font-size: 32px; color: rgb(183, 170, 29)"></i>
                <a href="#"></a>
            </li>

            <li>
                <i class="far fa-file-alt" style="font-size: 32px; color: rgb(183, 170, 29)"></i>
                <a href="#"></a>
            </li>

        </ul>
    </nav>
{% endblock %}
</body>
</html>
