{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        {% block title %}
            MY RESUME
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
    <link rel="stylesheet" href="{% static "apps.css/" %}">
</head>

<body>
<div class="page-view">
    <div class="navigation-bar">
        <nav>
            <ul>

                <li>
                    <a href="">
                        <i class="far fa-file-alt icon"></i>
                    </a>
                </li>

                <li>
                     <a href="">
                        <i class="far fa-file-alt icon"></i>
                    </a>
                </li>

                <li>
                     <a href="">
                        <i class="far fa-file-alt icon"></i>
                    </a>
                </li>

            </ul>
        </nav>
    </div>

    <div class="image-container">
        <img src="" alt="My Image"/>
    </div>
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>
